@use "../variables.scss" as vars;
.hero {
  background-image: url(../../images/component-images/cover.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding: 40px;
  gap: 20px;

  .hero-title {
    color: vars.$white-color;
    font-family: vars.$secondary-font;
    line-height: 1.67;
    font-size: 30px;
    font-weight: bold;
  }

  .hero-parrafo {
    color: vars.$white-color;
    font-family: vars.$main-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.19;
  }

  .down {
    background-color: vars.$white-color;
    border-radius: 100px;
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .down:hover {
    background-color: darken($color: vars.$white-color, $amount: 10);
    transition: all;
    transition-duration: 200ms;
  }

  @media (width >= vars.$tablet-bp) {
    .hero-title {
      font-size: 75px;
    }
    .hero-parrafo {
      font-size: 24px;
    }
    .down {
      height: 45px;
      width: 45px;
    }
  }
}
