@use "../variables.scss" as vars;

.primary_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 15px;

  .green {
    font-size: 14px;
    font-weight: normal;
    color: vars.$primary-color;
  }
  .primary-title {
    font-family: vars.$secondary-font;
    font-size: 22px;
    font-weight: bold;
    color: vars.$black-color;
  }
  .primary-parrafo {
    font-size: 18px;
    line-height: 1.67;
  }
  .primary-a {
    border: 2px solid vars.$primary-color;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    color: vars.$primary-color;
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
    width: fit-content;
    margin-top: 40px;
    transition: all 200ms ease-in-out;
  }
  .primary-a:hover {
    background-color: darken($color: vars.$white-color, $amount: 10);
    transform: scale(1.05);
  }

  @media (width >= vars.$tablet-bp) {
    max-width: vars.$desktop-bp;
    justify-self: center;

    .green {
      font-size: 16px;
    }
    .primary-title {
      font-size: 32px;
    }
    .primary-parrafo {
      font-size: 20px;
    }
  }
}
