<div id="categories" class="categories-bg">
  <section class="categories-section">
    <div class="title-categories">
      <small categories-small>¡Prepáralos con tus marcas favoritas!</small>
      <h2 class="categories-title">VUELTA AL COLE</h2>
    </div>

    <article class="categories-article">
      <img
        class="categories-img"
        src="/images/component-images/lpbts-mod05-img01-desk.png"
        alt="Imagen de una niña con una mochila."
      />
      <p class="categories-parrafo">Mochilas escolares</p>
    </article>
    <article class="categories-article">
      <img
        class="categories-img"
        src="/images/component-images/lpbts-mod05-img04-mob.png"
        alt="Imagen de un niño con un estuche y lápices de colores."
      />
      <p class="categories-parrafo">Estuches</p>
    </article>
    <article class="categories-article">
      <img
        class="categories-img"
        src="/images/component-images/lpbts-mod05-img03-mob.png"
        alt="Imagen de una niña con una bolsa de deporte."
      />
      <p class="categories-parrafo">Bolsas de deporte</p>
    </article>
    <a class="categories-button" href="https://adalab.es/">Empezar ahora</a>
  </section>
</div>
