<div class="section-footer">
  <div class="section-button-top">
    <a href="#hero" class="button-top">
      <img
        class="top"
        src="/images/component-images/ico-arrow.svg"
        alt="Icono flecha hacia arriba"
      />
    </a>
  </div>
  <footer class="footer">
    <div class="footer-lists">
      <ul class="footer-list">
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">ZAPATILLAS</a>
        </li>
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">ROPA</a>
        </li>
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">NIÑO/A</a>
        </li>
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">DESTACADOS</a>
        </li>
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">TICS</a>
        </li>
      </ul>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">TWITTER</a>
        </li>
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">INSTAGRAM</a>
        </li>
        <li class="footer-item">
          <a href="https://adalab.es/" class="footer-link">YOUTUBE</a>
        </li>
      </ul>
    </div>
    <div class="footer-copy">
      <small class="2023">&copy;2023</small>
      <small class="heart-text">we <span class="heart">❤︎</span> run</small>
    </div>
  </footer>
</div>
