@use "./variables.scss" as vars;
@use "./partials/header.scss";
@use "./partials/hero.scss";
@use "./partials/primary-section.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: vars.$main-font;
}

body {
  background-color: vars.$white-color;
  color: vars.$detail-color;
}
