/* COLORES */
$primary-color: #6c933e;
$secondary-color: #d9e4cc;
$detail-color: #4a4a4a;
$white-color: #ffffff;
$black-color: #000000;

/* FUENTES */
$main-font:Roboto, sans-serif;
$secondary-font: RobotoSlab, serif;

/* BREAKPOINTS */
$mobile-bp: 320px;
$tablet-bp: 768px;
$desktop-bp: 1280px;



